In [21]:
import pandas as pd


fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(fruits)

print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [38]:
Run .describe() on the series to see what describe returns for a series of strings.

# fruits.describe()

In [24]:
Run the code necessary to produce only the unique fruit names.

# fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [39]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [40]:
print(fruits)

['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi', 'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry', 'papaya']

In [41]:
fruits = pd.Series(fruits)

In [42]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [51]:
Determine how many times each value occurs in the series.

fvalcount = pd.Series(fruits).value_counts()
fvalcount

kiwi                4
mango               2
tomato              1
honeycrisp apple    1
gala apple          1
blueberry           1
watermelon          1
strawberry          1
honeydew            1
blackberry          1
papaya              1
pineapple           1
gooseberry          1
dtype: int64

In [65]:
# Determine the most frequently occurring fruit name from the series.
fvalcount.idxmax()
# Determine the least frequently occurring fruit name from the series.

fvalcount.idxmin()

'tomato'

In [74]:
fruits.astype('str')

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [92]:
# Write the code to get the longest string from the fruits series.
fruits[fruits.apply(len).idxmax()]

'honeycrisp apple'

In [93]:
print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [97]:
# Find the fruit(s) with 5 or more letters in the name.
fruits[fruits.apply(lambda n: True if len(n) > 5 else False)]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [101]:
# Capitalize all the fruit strings in the series.
fruits.apply(lambda n: n.capitalize())

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [102]:
# Count the letter "a" in all the fruits (use string vectorization)

def count_a(word):
    count = 0
    for letter in word:
        if letter in "a":
            count += 1
    return count

fruits.apply(count_a)

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [103]:
# Output the number of vowels in each and every fruit.

def count_vowels(word):
    count = 0
    for letter in word:
        if letter in "aeiou":
            count += 1
    return count

fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [124]:
# Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

froots = fruits[lambda x: fruits.str.count('o') >= 2]
froots

6         tomato
15    gooseberry
dtype: object

In [130]:
# Write the code to get only the fruits containing "berry" in the name
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [131]:
# Write the code to get only the fruits containing "apple" in the name

fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [137]:
# Which fruit has the highest amount of vowels?

fruits[fruits.apply(count_vowels).max()]

'honeycrisp apple'

In [139]:
# Use pandas to create a Series from the following data:
    
moola = ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

moola = pd.Series(moola)

moola

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object

In [205]:
# What is the data type of the series?
# Use series operations to convert the series to a numeric data type.

mulla = moola.str.replace("$", "")
mulla = mulla.str.replace(",", "")
mulla = mulla.str.replace(".", "")
mulla = mulla.astype(int)
mulla

0      79645941
1         27860
2      48257167
3     450391598
4      21214183
5      12608133
6       8723101
7     150917545
8     413854800
9     284891380
10     59471539
11    478998817
12     45136445
13    319105997
14    175871224
15    433828354
16    473830338
17    279175967
18     76968194
19     45265023
dtype: int64

In [209]:
# What is the maximum value? The minimum?
mulla.max()
mulla.min()

27860

In [225]:
# Bin the data into 4 equally sized intervals and show how many values fall into each bin.
mulla
binz = pd.cut(mulla, 4,)
binz_count = binz.value_counts()
binz_count

(-451110.957, 119770599.25]    10
(359256077.75, 478998817.0]     5
(239513338.5, 359256077.75]     3
(119770599.25, 239513338.5]     2
dtype: int64